

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Dashboard-container{
    background-color: #0E0E0E;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    overflow: hidden;
}


.dashboard-container{
    position: absolute;
    left: 6.6rem;
    top: 9rem;

}