
  /* date css */

  .date-input-container {
    display: flex;
    gap: 30px; 
    margin: .5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 0 auto;
    position: relative;
    top: 10rem;
    right: 1rem;
    background-color: #0C0C0C;
    padding: 5rem;
  }
  
  .name-input-container{
    display: flex;
    gap: 30px;
  }
  .gender-input{
    background-color: transparent;
    border: none;
    border: 1px solid white;
    padding: .5rem;
    color: white;
  
  }
  .name-input{
    all: unset;
    border-bottom: 1px solid white;
    padding: .5rem;
    color: white;
  
  }
  .date-container{
    display: flex;
    gap: 1rem;
    
  }
  
  .Date-btn{
    all: unset;
    background-color: #00C1FF;
    color: black;
    padding: .5rem 1rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  .date-input {
    width: 70px; 
    padding: 7px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff; 
    outline: none;
  }
  
  .date-input:last-child {
    width: 70px; 
  }
  
  .date-input::placeholder {
    color: #fff;
  }
  
  .date-input:focus {
    border-color: #999; 
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  
  
    /* end date css */
  