body{
    color: white;
}

.PrivateChat-container{
    display: flex;
    flex-direction: column;
    color: white;
    width: 30rem;
    position: absolute;
    right: 5rem;
    top: 8rem;
    margin: 1rem;
    /* background-color: #1c1c1c; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* border: 1px solid green; */
    width: 40rem;
    font-family: 'Montserrat', sans-serif;
    
    
}

.profile-picture{
    border: 1px solid white;
    border-radius: 50%;
}
.Name{
    margin-left: .5rem;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

.follow{
    margin-left: auto;
    border: 2px solid white;
    padding: .2rem .9rem;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.follow::selection, .nofollow::selection{
    background: transparent; /* Removes text selection */
}
.nofollow{
    margin-left: auto;
    padding: .2rem .9rem;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s;
    background-color: aqua;
    font-weight: bold;
    color: black;
    transition: all .2s;

}
.chatbox{
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 330px;
    overflow-y: scroll;
    margin-bottom: 1rem;
    -ms-overflow-style: none;
}
.chatbox::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
  }
.message-input{
    all: unset;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    flex-basis: 500px;
    margin: .5rem;
    


}
.sender{
    display: flex;
    flex-direction: row;

}

.receiver > img, .sender > img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: black;
    border: 1px solid;
}
.receiver > img{
    margin-right: .5rem;

}
.sender > img{
    margin-left: .5rem;

}
.sender > p{
    margin: .5rem;
    background-color: white;
    color: black;
    width: fit-content;
}



.receiver > p, .sender > p{
    padding: .5rem;
    border-radius: 50px;
    font-size: .8rem;

}

.send{
    /* all: unset; */
    cursor: pointer;
}

.receiver{
    display: flex;
    margin-left: auto;
    flex-direction: row-reverse;
}

.receiver > p{
    margin: .5rem;
    background-color: rgb(27, 198, 255);
    color: black;

}

.messagebox{
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    /* justify-content: space-between; */
    background-color: black;
    color: white;
    border-radius: 50px;


}

.icons{
    margin: .5rem;
    margin-top: 1.2rem;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons > span{
    margin-right: .1rem;
    cursor: pointer;
}