.tab-container{
    margin-top: 1.5rem;

}

.Trackers-section{
    display: flex;
    margin-right: auto;
    gap: 1rem;

}

.Tracker-con{
    margin-left: auto;

}

.Tracker-con hr{
    width: 77rem;
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.Trackers{
    background-color: #3DB1D6;
    padding: .2rem;
    border-radius: 1rem;
    margin-left: 67rem;
    

}

.Heart{
    color: #3DB1D6;

}

.calander{
    color: white;

}