.tab-container{
    margin-top: 1.5rem;
    overflow: hidden;


}

.Trackers-section{
    display: flex;
    margin: 0 auto;
    gap: 1rem;
    justify-content: flex-end;

}

.Tracker-con{
    margin-left: auto;

}

.Tracker-con hr{
    width: 77rem;
    display: flex;
    flex-direction: column;
    margin: .5rem;
}


.Trackers {
    background-color: #3DB1D6;
    color: white;
    padding: 0.2rem 1.2rem;
    border-radius: 8px;
    font-size: 1rem; /* Matches earlier design */
    font-weight: 500;
    cursor: pointer;
  }

.Heart{
    color: #3DB1D6;

}

.calander{
    color: white;

}