@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.SignUp-container{
  display: flex;
  height: 100vh;
  /* background-color: rgb(39, 39, 39); */
  background: linear-gradient(#161616, #0D181C);
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;

}


.Image-container{
  background-image: url("./assets/loginimage.png");
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .1rem;
  filter: drop-shadow(0 0 10px black);

}

.Form-container{
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;


}

.Logo{
  width: 50px;
  height: 50px;
  margin: .5rem;
  z-index: 10;
  filter: drop-shadow(0 0 20px black);
 

}

.Form-elements{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0C0C0C;
  box-shadow: 0 0 100px rgba(0, 191, 255, 1);
  padding: 0rem 1.5rem;
  color: white;
  /* filter: drop-shadow(0 0 10px rgba(0,191, 255, 1)); */
  border: 1px solid aqua;


}

.Title{
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  margin: 1.5rem;
  font-weight: 600;


}

.input{
  all: unset;
  border-bottom: 1px solid white;
  padding: .5rem 1rem;
  width: 300px;
  margin: 1rem;
  /* margin-bottom: .3rem; */
  text-align: start;


}




.SignUp-btn{
  all: unset;
  width: fit-content;
  background-color: #00C1FF;
  padding: 10px 130px;
  margin: 1rem;
  border-radius: 50px;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  color: black;
  cursor: pointer;
  transition: .5s;
  font-weight: 600;



}

.SignUp-btn:hover{
  background-color: rgba(0, 255, 255, 0.582);
}

.Circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: blue;
  margin-bottom: 1rem;

}
.OAuth-container{
  display: flex;
  gap: 2rem;
  
}

.Already-Account{
  margin-bottom: 1rem ;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1rem;



}
.Already-Account span{
  color: #00C1FF;
  cursor: pointer;
  font-weight: 600;

}
.Form-elements .line hr{
  width: 10rem;
  height: fit-content;
  position: relative;
  top: .5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.line{
  display: flex;
  margin: 1rem;
}
.OAuth-container span{
  cursor: pointer;
  /* color: red; */
}

/* .OAuth-container span:nth-child(1){
 /* color: white; */
 
 */
.OAuth-container span:nth-child(2){
  color: rgb(46, 203, 255);
}
.OAuth-container span:nth-child(3){
  color: rgb(36, 36, 241);
}

.Google{
  width: 30px;
 height: 30px;
}

.Forgot{
  font-family: 'Poppins', sans-serif;  /* Applying Poppins font */
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.459);
  cursor: pointer;
  margin-left: 13rem;
  font-weight: lighter;

}

/* Responsive code */

/* For tablets and small screens */
@media (max-width: 1024px) {
  
}

/* For mobile screens */
@media (max-width: 768px) {
  .SignUp-btn{

  }
  .Title{
    font-size: 1.5rem;
  }
  .input{
    /* width: 100%; */
  }

  .Form-elements{
    padding: .5rem;
  }
  
}

/* For extra small mobile screens */
@media (max-width: 480px) {
  
}
