*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.SignUp-container{
  display: flex;

}

.Image-container{

}

.Form-container{
  display: flex;
  flex-direction: column;

}

.Title{

}

.input{

}

.input-date{

}

.SignUp-btn{

}

.Circle{

}

.Already-Account{

}